[submodule "choerodon-front-iam"]
	path = choerodon-front-iam
	url = http://choerodon:password@gitlab.choerodon.xforceplus.com/xforcecloud-xchoerodon/choerodon-front-iam.git
	branch = release-0.11.1
[submodule "choerodon-front-devops"]
	path = choerodon-front-devops
	url = http://choerodon:password@gitlab.choerodon.xforceplus.com/xforcecloud-xchoerodon/choerodon-front-devops.git
	branch = feature-0.11.3-ghk
[submodule "choerodon-front-agile"]
	path = choerodon-front-agile
	url = http://choerodon:password@gitlab.choerodon.xforceplus.com/xforcecloud-xchoerodon/choerodon-front-agile.git
	branch = x-master
[submodule "choerodon-front-test-manager"]
	path = choerodon-front-test-manager
	url = http://choerodon:password@gitlab.choerodon.xforceplus.com/xforcecloud-xchoerodon/choerodon-front-test-manager.git
	branch = x-master
[submodule "choerodon-front-wiki"]
	path = choerodon-front-wiki
	url = http://choerodon:password@gitlab.choerodon.xforceplus.com/xforcecloud-xchoerodon/choerodon-front-wiki.git
	branch = x-master
